.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Loader.css */
.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #101820;
  /* Dark background for techy feel */
}

.loader-bar-container {
  display: flex;
  gap: 4px;
  margin-bottom: 15px;
}

.loader-bar {
  width: 5px;
  height: 30px;
  background-color: #0abfbc;
  border-radius: 2px;
  animation: scan 1s ease-in-out infinite;
  transform-origin: bottom;
}

@keyframes scan {

  0%,
  100% {
    height: 10px;
    opacity: 0.3;
  }

  50% {
    height: 30px;
    opacity: 1;
  }
}

.loader-text {
  color: #ffffff;
  font-size: 1.2rem;
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}